<h1>Listado</h1>
<table class="table">
<thead>
<tr>
<th>Name</th>
<th>E-Mail</th>
<th colspan="2"></th>
</tr>
</thead>
<tbody>
<% @students.each do |student| %>
<tr>
  <td><%= student.name %></td>
  <td><%= student.email %></td>
</tr>
<% end %>
</tbody>
</table>